.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--white);
  border-radius: var(--size-lg);
  color: var(--violet-200);
  justify-content: space-around;
  padding: var(--padding-md) 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .headerCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.card .borderIcon {
  display: flex;
  align-items: center;
  height: 30px;
  width: 30px;
  justify-content: center;
  border: 1px solid #fdcf56;
  border-radius: 30px;
  margin-left: var(--size-md);
}

.card .icon {
  color: var(--grey-400);
}

.wrapperContentCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapperContentCard span {
  font-weight: bold;
  color: var(--grey-400);
}

.wrapperContentCard h3 {
  margin: var(--spacing-md);
}

.wrapperContentCard img {
  width: var(--spacing-xl5);
  height: var(--size-xl5);
}

.wrapperButtonCard {
  display: flex;
  width: var(--spacing-xl3);
  align-items: center;
  justify-content: space-evenly;
  border: 3px solid var(--violet-100);
  border-radius: 5px;
  box-sizing: border-box;
  color: black;
  margin-left: var(--size-xl);
}

.wrapperButtonCard button {
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  border: none;
  display: block;
  color: var(--orange);
}
